{% extends "base.html" %}

{% block title %}Add New User{% endblock title %}

{% block content %}
<div class="mx-auto container mt-4 p-2">
    <div class="mx-auto flex items-center justify-center">
        <div class="rounded-md bg-gradient-to-r from-blue-600 via-sky-500 to-violet-800 p-1">
            <h1 class="text-2xl leading-10 font-medium text-center mt-[-8px] text-white">Captured Image</h1>
            <div class="flex items-center justify-center bg-gray-800 back">
                <img class="w-auto max-h-96 border-red-500" src="data:image/jpeg;base64,{{ frame | np_base64 | safe }}"
                     alt="Captured Image">
            </div>
        </div>
    </div>

    {% if faces %}
        <h2 class="text-xl text-center mt-6">Detected Faces ({{ faces | length }})</h2>
        <form action="/add" method="POST" id="faces_form">
            <input type="hidden" name="uuid" value="{{ uuid }}">
            <div class="flex flex-wrap items-center justify-center mt-2">
                {% for face in faces %}
                    <div class="face-item rounded-md bg-gradient-to-r from-blue-600 via-sky-500 to-violet-500 p-1 mx-3 my-2">
                        <div class="flex items-center my-1">
                            <input id="cb-{{ face.uuid }}" type="checkbox" name="faces.{{ face.uuid }}.enabled" checked class="user-cb w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="cb-{{ face.uuid }}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Submit?</label>
                        </div>
                        <div class="w-72 bg-gray-50 dark:bg-slate-800 px-5 py-5">
                            <div class="text-center">
                                <img class="inline h-32 border border-cyan-400" src="data:image/jpeg;base64,{{ face.image | np_base64 | safe }}" alt="">
                            </div>
                            <div class="mt-2">
                                <label for="u-{{ face.uuid }}-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Name
                                </label>
                                <input type="text" id="u-{{ face.uuid }}-name" name="faces.{{ face.uuid }}.name" required class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            </div>
                            <div class="mt-2">
                                <label for="u-{{ face.uuid }}-id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    User ID
                                </label>
                                <input type="number" id="u-{{ face.uuid }}-id" name="faces.{{ face.uuid }}.id" required class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            </div>

                            <div class="mt-2">
                                <label for="u-{{ face.uuid }}-type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    User Type
                                </label>
                                <input type="text" id="u-{{ face.uuid }}-type" name="faces.{{ face.uuid }}.type" required value="Student" class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            </div>
                    {#                <input type="text" name="name" placeholder="Name">#}
                    {#                <input type="number" name="user_id" placeholder="User ID">#}

                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="text-center mt-6">
                <button type="submit" class="text-white bg-blue-400 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-7 py-2.5 text-center dark:bg-blue-400 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
            </div>
        </form>
    {% else %}
        <h1 class="text-4xl text-center text-orange-600 mt-6">No Faces Detected</h1>
    {% endif %}
</div>

<script>
    $('#faces_form :checkbox').change(function() {
        // this will contain a reference to the checkbox
        console.log(this.checked);
        console.log($(this).closest('.face-item'))
        $(this).closest('.face-item').find('input[type=text], input[type=number]').prop( "disabled", !this.checked );
    });
</script>

{% endblock content %}

{#Hello <br>#}
{##}
{#<p>Original Frame</p>#}
{#<img src="data:image/jpeg;base64,{{ original_frame | np_base64 | safe }}" alt="">#}
{##}
{#<p>Frame</p>#}
{#<img src="data:image/jpeg;base64,{{ frame | np_base64 | safe }}" alt="">#}
{##}
{#<p>Faces</p>#}
{#{% for face in faces %}#}
{#    <img src="data:image/jpeg;base64,{{ face.image | np_base64 | safe }}" alt="">#}
{#{% endfor %}#}