{% extends "base.html" %}

{% block content %}
    <div class="mx-auto container mt-12">
        {% if l > 0 %}
            <div class="flex justify-center flex-col">
                <h1 class="text-center text-2xl mb-2">Attendance History</h1>
                <table class="mx-auto text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                #
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Name
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Roll
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Type
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Time
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(l) %}
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ i + 1 }}
                                </th>
                                <td class="px-6 py-4">
                                    {{ names[i] }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ rolls[i] }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ occupations[i] | title }}
                                </td>
                                <td class="px-6 py-4">
                                    {{ times[i] }}
                                </td>
                            </tr>
                        {% endfor %}

            {#            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">#}
            {#                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">#}
            {#                    Apple MacBook Pro 17"#}
            {#                </th>#}
            {#                <td class="px-6 py-4">#}
            {#                    Sliver#}
            {#                </td>#}
            {#                <td class="px-6 py-4">#}
            {#                    Laptop#}
            {#                </td>#}
            {#                <td class="px-6 py-4">#}
            {#                    $2999#}
            {#                </td>#}
            {#            </tr>#}
            {#            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">#}
            {#                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">#}
            {#                    Microsoft Surface Pro#}
            {#                </th>#}
            {#                <td class="px-6 py-4">#}
            {#                    White#}
            {#                </td>#}
            {#                <td class="px-6 py-4">#}
            {#                    Laptop PC#}
            {#                </td>#}
            {#                <td class="px-6 py-4">#}
            {#                    $1999#}
            {#                </td>#}
            {#            </tr>#}
            {#            <tr class="bg-white dark:bg-gray-800">#}
            {#                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">#}
            {#                    Magic Mouse 2#}
            {#                </th>#}
            {#                <td class="px-6 py-4">#}
            {#                    Black#}
            {#                </td>#}
            {#                <td class="px-6 py-4">#}
            {#                    Accessories#}
            {#                </td>#}
            {#                <td class="px-6 py-4">#}
            {#                    $99#}
            {#                </td>#}
            {#            </tr>#}
                    </tbody>
                </table>
            </div>

        {% else %}
            <h1 class="text-red-500 text-3xl text-center">Nobody Attended Today</h1>
        {% endif %}
    </div>
{% endblock %}