<!doctype html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>

    {% block head %}{% endblock head %}

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for("static", filename="js/jquery.min.js") }}"></script>

    <script>
        tailwind.config = {
            darkMode: 'class',
            theme: {
                extend: {
                    colors: {
                        nightblue: '#171b2a',
                    }
                }
            }
        }
    </script>
</head>
<body class="bg-nightblue text-white">

{% block nav %}
    {% include "components/nav.html" %}
{% endblock nav %}

{% block body_start %}{% endblock body_start %}
{% block content %}{% endblock content %}
{% block body_end %}{% endblock body_end %}

</body>
</html>
