{% extends "base.html" %}
{% block content %}
    {% if msg %}
    <hr class="my-6">
    <div class="p-4 mt-6 bg-pink-500 rounded text-center text-2xl">
        {{ msg }}
    </div>
    {% endif %}

    <div class="pt-5 px-3 text-center max-w-7xl mx-auto">
        <h1 class="font-extrabold lg:text-6xl md:text-5xl text-4xl animate-index">
{#            <span class="transition-colors duration-500 ease-linear bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 hover:from-cyan-500 hover:to-violet-900 ">#}
                Advanced School Attendance System
{#            </span>#}
        </h1>
        <style>
            .animate-index {
                animation: Color 4s linear infinite;
  -webkit-animation: Color 4s ease-in-out infinite;
  text-shadow: 10px 10px #F0F0F0;
            }

            @keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}

@-moz-keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}

@-webkit-keyframes Color{
  0%{
    color:#A0D468;
  }
  
  20%{
    color:#4FC1E9;
  }
  
  40%{
    color:#FFCE54;
  }
  
  60%{
    color:#FC6E51;
  }
  
  80%{
    color:#ED5565;
  }
  
  100%{
    color:#AC92EC;
  }
}
        </style>
        <p class="lg:px-4 md:px-1 text-xl mt-4">
            Attendance System using <span class=""> Face Detection <span class="">Algorithm</span></span>
        </p>

        {% include "components/index_tmkk_sci_fare.html" %}

{#        <div class="flex justify-center">#}
{#            <div class="bg-pink-600 w-36 h-36 "></div>#}
{#            <div class="bg-emerald-600 w-36 h-36 "></div>#}
{#            <div class="bg-purple-600 w-36 h-36 "></div>#}
{#        </div>#}


    </div>
{% endblock %}