<div class="select-none	flex justify-center items-center mt-10 w-auto mx-auto">
    <div class="text-[21rem] leading-[14rem] font-bold bg-clip-text text-transparent bg-gradient-to-r from-cyan-500 to-sky-300">
{#        8#}
    </div>
    <div class="tracking-widest flex flex-col text-[3.22rem] leading-[3.22rem] text-left font-bold bg-clip-text text-transparent bg-gradient-to-r from-indigo-900 to-violet-900">
        <div class="">TAMIRUL MILLAT</div>
        <div class=""></div>
        <div class="">KAMIL MADRASAH</div>
        <div class="">SCIENCE FAIR <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-900 to-rose-400">2023</span></div>
    </div>

    <div class="" style="margin-left: 64px;">
        <img src="https://cdn.dribbble.com/users/394243/screenshots/1277270/mark-face.png" alt="" style="
    height: 16rem;
">
    </div>
</div>